<html lang="ko"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.w3.org/1999/xhtml"
      layout:decorate="~{layout}">
<div layout:fragment="content" class="container my-3">
    <table class="table">
        <thead class="table-dark">
        <tr>
            <th>번호</th>
            <th>운동 부위</th>
            <th>운동 날짜</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="workout, loop : ${workoutList}">
            <td th:text="${loop.count}"></td>
            <td>
                <a th:href="@{|/workout/detail/${workout.id}|}" th:text="${workout.subject}"></a>
            </td>
            <td th:text="${#temporals.format(workout.workDate, 'yyyy-MM-dd HH:mm')}"></td>
        </tr>
        </tbody>
    </table>
    <a th:href="@{/workout/create}" class="btn btn-primary">운동 등록하기</a>
</div>
</html>