<link rel="stylesheet" type="text/css" th:href="@{/bootstrap.min.css}">
<div class="container my-3">
    <table>
        <thead>
        <tr>
            <th>번호</th>
            <th>운동 부위</th>
            <th>운동 날짜</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="workout, loop : ${workoutList}">
            <td th:text="${loop.count}"></td>
            <td>
                <a th:href="@{|/workout/detail/${workout.id}|}" th:text="${workout.subject}"></a>
            </td>
            <td th:text="${#temporals.format(workout.workDate, 'yyyy-MM-dd HH:mm')}"></td>
        </tr>
        </tbody>
    </table>
</div>